<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8" />
  <!-- 采用定死viewport宽度的方式来适配移动端 viewport-fit适配刘海屏-->
  <meta name="viewport" content="width=375, user-scalable=no, viewport-fit=cover" />
  <!-- <link rel="stylesheet" type="text/css" href="//at.alicdn.com/t/font_1665950_fbhzwhq644e.css"> -->
  <meta name="wpk-bid" content="dta_2_37341">
</head>

<body>
  <div id="root" class="view"></div>
</body>

</html>